body{
    width:100%;
    background-color: rgb(96, 0, 90);

}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(75, 0, 77);
    padding: 20px;
    align-items: center;
}


.cabecalho_imagem{

    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin-left: 20px;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sobre_imagem{
    width: 400px;
    height: 400px;
    padding: 20px;
}

.sobre_texto{
  text-align: justify;
  width: 400px ;  
}

.elementos{
display: flex;
flex-wrap: wrap;

}

.container{
 border: 2px solid black;
 padding: 20px;
 text-align: center;
}

.elementos_container-imagem{

    width: 300px;
    height: 300px;

}

<img src="https://cec-a.akamaihd.net/img-prod/images/standard/revestimento-esmaltado-brilhante-bold-br10030-antipichacao-cinza-claro-10x10cm-tecnogres-1124855-foto-a460c9c3-3201-45b7-bd21-f33071ed3d0b.png"  alt="" class="cabecalho_imagem">
<nav class="cabecalho_menu">
    <ul class="cabecalho_menu-lista">
        <li class="cabecalho_menu-listaitem">Pagina 1</li>
        <li class="cabecalho_menu-listaitem">Pagian 2</li>
        <li class="cabecalho_menu-listaitem">Pagina 3</li>
    </ul>

</nav>

</header>
<main class="principal">
<section class="sobre">
<img src="https://cec-a.akamaihd.net/img-prod/images/standard/revestimento-esmaltado-brilhante-bold-br10030-antipichacao-cinza-claro-10x10cm-tecnogres-1124855-foto-a460c9c3-3201-45b7-bd21-f33071ed3d0b.png" alt="" class="sobre_imagem">